{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Rapid Prototypes{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
    </head>
    <body>
        {% load webdesign %}
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome To the Site</h1>
                <p>Insert marketing copy here.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About</h2>
                    <p>{% lorem %}</p>
                    <p>
                        <a class="btn btn-default"
                            href="{% url 'page' 'contact' %}" role="button">
                            Contact us »
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>Contact</h2>
                    <p>{% lorem %}</p>
                    <p>
                        <a class="btn btn-default"
                            href="{% url 'page' 'contact' %}" role="button">
                            Contact us »
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <hr>
        <footer>
            <div class="container">
                <p>&copy; Your Company {% now 'Y' %}</p>
            </div>
        </footer>
        {% block content %}{% endblock %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>